.spinner {
  color: #221212;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 776px) {
  .spinner {
    top: 15%;
    left: 25%;
  }

}
.offline-banner {
  background-color: #ffdddd;
  color: #d8000c;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.messageToDisplay {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 776px) {
  .messageToDisplay {
    top: 15%;
    left: 25%;
  }

}




.mat-toolbar {
  display: flex;
  color: white;
  align-items: center;
  font-weight: bold; /* Corrected 'font' to 'font-weight' */
  flex-shrink: 0; /* Prevent the toolbar from shrinking */
  position: fixed; /* Fixed at the top */
  top: 0; /* Stick to the top of the screen */
  left: 0;
  z-index: 1000;
  background-color: orangered;
  height: 54px; /* Height of the toolbar */
  padding: 0 10px; /* Padding for the toolbar */
  width: 100vw; /* Ensure the width is 100% of the viewport by default */
}

@media screen and (max-width: 776px) {
  .mat-toolbar {
    width: 100%; /* Set width for tablets */
  }
}




.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column; /* Stack list items vertically */
  width: 100%;
  justify-content: space-between; /* Space between task name and button */
  align-items: center; /* Align items vertically */
  position: relative; /* Set relative positioning to align properly */
  margin-top: 44px; /* Offset content by the height of the toolbar */
  overflow-y: auto; /* Allow scrolling if items overflow */
  padding: 0; /* Remove any padding */
}
@media screen and (max-width: 776px) {
  .content {
    margin-top: 22px;
  }

}

  


  /* Styling for the list */
  mat-list {
    width: 100%;
  }
  
  
  
 
  
  mat-list-item {
    background-color: #f0f0f0;
    padding: 10px;
    border: 1px solid #ccc;
    justify-content: center;
    border-radius: 4px;
    white-space: nowrap; /* Prevent text wrapping to the next line */
    overflow: hidden;    /* Hide overflowing text */
    text-overflow: ellipsis
  }
  mat-list-item:hover {
    background-color: rgb(189, 182, 182);
  }
  @media screen and (max-width: 776px) {
    mat-list-item {
      padding: 5px;

    }
  
  }




  .create-list-btn {
    background: linear-gradient(45deg, #5f3, rgb(119, 254, 92));
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 14px;
    margin-left: auto;
    margin-right: 30px;
    align-items: center;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  }
  
  @media screen and (max-width: 1280px) {
    .create-list-btn {
      font-size: small;
      padding: 4px 8px;
      color: #0e0d0d;
      width: 100px;
      margin-right: 10% !important;
      font-size: 10px !important;
    }
  }
  @media screen and (max-width: 776px) {
    .create-list-btn {
      background: linear-gradient(45deg, #5f3, rgb(119, 254, 92));
      color: white;
      padding: 4px 8px;
      border-radius: 10px;
      font-size: 10px;
      margin-left: auto;
      margin-right: 15px;
      align-items: center;
      font-weight: bold;
      text-transform: capitalize;
      cursor: pointer;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    }
    
      .create-list-btn {
        font-size: small;
        padding: 4px 8px;
        color: #0e0d0d;
        width: 100px;
        margin-right: 10% !important;
        font-size: 10px !important;
      }
      .edit-container {
        .title-input {
          width: 18%;
        }
        .description-input {
          width: 18%;
        }
    
  
  }
 
    .navigate {
      border-radius: 4px;
      background-color: rgb(0, 30, 139);
      color: white;
      width: 50px;
      margin-right: 30%;
      height: 15px;
      cursor: pointer;
    }

  }
  
  .navigate {
    border-radius: 8px;
    background-color: rgb(0, 30, 139);
    color: white;
    width: 100px;
    margin-right: 60%;
    height: 30px;
    cursor: pointer;
  }

  .navigate:hover {
    background-color: rgb(8, 55, 228);
  }
@media screen and (max-width: 1280px) {
  .navigate {
    margin-right: 40%;
    width: 70px;
    font-size: 10px;
  }
  


  }
  
  .create-list-btn:hover {
    background: linear-gradient(45deg, rgb(47, 244, 8),rgb(43, 241, 4)); /* Reverse gradient on hover */
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3); /* Slightly increased shadow */
    transform: translateY(-1px); /* Subtle lift effect */
  }
  
  
  .dialog {
    background-color: #ccc;
  }

  .container {
    display: flex;            /* Enable Flexbox */
    flex-direction: column;   /* Stack elements vertically */
    align-items: center;  
    justify-content: center;
    overflow: hidden;
    gap: 10px;
  }
  // @media screen and (max-width: 650px) {
  //   .container {
  //     width: fit-content;
  //   }
    
  // }
  
  .input-container {
    width: 300px;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

   .input-title {
    background-color: rgb(169, 154, 154);
    width: 100%; 
    height: 30px;
    border-radius: 4px;
    outline: navy;
    padding-left: 5px;
  }
  .input-description {
    background-color: rgb(169, 154, 154);
    width: 100%;     
    height: 30px;
   border-radius: 4px;
   outline: navy;
   padding-left: 5px;
 }
 
  
  .btn {
    padding: 8px 16px;   
    width: 100px;
    cursor: pointer;
    border-radius: 8px;
    font-weight: bold;
    width: 200px;
  }

  .active-button {
    cursor: pointer;
    background-color: green;
    color: white;
  }
  
  .inactive-button {
    background-color: gray;
    color: white;
  }
  h2 {
    font-size: 16px;
    padding: 10px;
  }
 

.title-input {
  height: 35px;
  border:solid 1px #f50057;
  outline: #f50057;
  width: 42%;
}

.description-input {
  height: 35px;
  outline: #f50057;
  border:solid 1px #f50057;
  width: 42%;
}

.save-btn {
margin-left: auto;
  background-color: rgb(99, 99, 211);
  width: 80px;
  cursor: pointer;
  color: white;
  border-radius: 8px;
  height: 30px;
}
.save-btn:hover {
  background-color: rgb(79, 79, 215);


}

.cancel-btn {
  background-color: rgb(141, 179, 195);
  width: 80px;
  color: white;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
}
.cancel-btn:hover {
  background-color: rgb(115, 174, 199);

}


.edit-btn {
  width: 80px;
  height: 30px;
  border-radius: 8px;
  color: white;
  cursor: pointer;
  background-color: rgb(57, 49, 53);
}
.edit-btn:hover {
  background-color: rgb(60, 45, 53);

}

.delete-btn {
  border-radius: 8px;
  width: 80px;
  height: 30px;
  color: white;
  cursor: pointer;
  background-color: rgb(226, 12, 12);
}
.delete-btn:hover {
  background-color: rgb(164, 6, 6);

}

.mat-list {
  max-height: 400px; /* Limit the height of the list for scrolling */
  overflow-y: auto; /* Enable vertical scrolling */
  
}

.task-container {
  display: flex;
  justify-content: space-between; /* Push content to the edges */
  align-items: center; /* Align items vertically */
  width: 100%; /* Ensure full width of the item */
}

.task-title {
  flex-grow: 1; /* Allow the title to take available space */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent text wrapping */
}
.task-name {
  color: darkblue;
  font-size: larger;
  font: bold;
}
.task-description {
  font-size: large;
  color: lightseagreen; 
}
.time {
  font-size: 14px;
}
.date {
font-size: 14px;
}


.task-actions {
  display: flex;
  align-items: center; /* Align buttons and checkbox */
  gap: 8px; /* Add space between elements */
  flex-shrink: 0; /* Prevent shrinking */
}

.edit-btn,
.delete-btn {
  flex-shrink: 0; /* Prevent buttons from shrinking */
  min-width: 64px; /* Optional: Ensure consistent button size */
}
.btn {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 10px;
}

.deleteBtn {
  background-color: rgb(189, 54, 54);
  width: 90px;
  height: 35px;
  cursor: pointer;
  color: white;
}
.deleteBtn:hover {
  background-color: rgb(202, 25, 25);

}


.cancelBtn {
  background-color: rgb(162, 0, 255);
  width: 90px;
  height: 35px;
  cursor: pointer;
  color: white;
}


.cancelBtn:hover {
  background-color: rgb(61, 2, 96);

}

@media screen and (max-width: 1280px) {
  .cancel-btn {
    margin-left: 5px;
    width: 60px;
    font-size: 10px;
    height: 30px;
  }
  .save-btn {
    margin-left: 5px;
    width: 60px;
    font-size: 10px;
    height: 30px;


  }
  
}

.titleError {
  display: flex;
  font-size: 14px;
  color: red;
  justify-content: center;
  
}

.titleToBeCreated {
  display: flex;
  font-size: 14px;
  color: rgb(4, 83, 148);
  justify-content: center;
}

.titleAvailability {
  display: flex;
  justify-content: center;
  font-size: 14px;
}


.title {
margin-right: auto;

}
@media screen and (max-width: 1280px) {
  
  .title {
    font-size: 10px;

  }
}


@media screen and (max-width: 776px) {
.cancel-btn {
  margin-left: 5px;
  width: 40px;
  font-size: 10px;
  height: 20px;
}
.save-btn {
  margin-left: 5px;
  width: 40px;
  font-size: 10px;
  height: 20px;


}
.input-container {
  width: 150px;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

 .input-title {
  background-color: rgb(169, 154, 154);
  width: 100%; 
  height: 15px;
  border-radius: 4px;
  outline: navy;
  padding-left: 2.5px;
}
.input-description {
  background-color: rgb(169, 154, 154);
  width: 100%;     
  height: 15px;
 border-radius: 4px;
 outline: navy;
 padding-left: 2.5px;
}


.btn {
  padding: 4px 8px;   
  width: 50px;
  cursor: pointer;
  border-radius: 4px;
  font-weight: bold;
  width: 100px;
}

.active-button {
  cursor: pointer;
  background-color: green;
  color: white;
}

.inactive-button {
  background-color: gray;
  color: white;
}
h2 {
  font-size: 10px;
  padding: 5px;
}


.title-input {
height: 18px;
border:solid 1px #f50057;
outline: #f50057;
width: 21%;
}

.description-input {
height: 18px;
outline: #f50057;
border:solid 1px #f50057;
width: 21%;
}

.save-btn {
margin-left: auto;
background-color: rgb(99, 99, 211);
width: 40px;
cursor: pointer;
color: white;
border-radius: 4px;
height: 15px;
}
.save-btn:hover {
background-color: rgb(79, 79, 215);


}

.cancel-btn {
background-color: rgb(141, 179, 195);
width: 40px;
color: white;
height: 15px;
border-radius: 4px;
cursor: pointer;
}
.cancel-btn:hover {
background-color: rgb(115, 174, 199);

}


.edit-btn {
width: 40px;
height: 15px;
border-radius: 4px;
color: white;
cursor: pointer;
background-color: rgb(57, 49, 53);
}
.edit-btn:hover {
background-color: rgb(60, 45, 53);

}

.delete-btn {
border-radius: 4px;
width: 40px;
height: 15px;
color: white;
cursor: pointer;
background-color: rgb(226, 12, 12);
}
.delete-btn:hover {
background-color: rgb(164, 6, 6);

}

.mat-list {
max-height: 100px; /* Limit the height of the list for scrolling */
overflow-y: auto; /* Enable vertical scrolling */

}

.task-container {
display: flex;
justify-content: space-between; /* Push content to the edges */
align-items: center; /* Align items vertically */
width: 100%; /* Ensure full width of the item */
}

.task-title {
flex-grow: 1; /* Allow the title to take available space */
overflow: hidden; /* Hide overflowing text */
text-overflow: ellipsis; /* Add ellipsis for long text */
white-space: nowrap; /* Prevent text wrapping */
}
.task-name {
color: darkblue;
font-size: small;
font: bold;
}
.task-description {
font-size: small;
color: lightseagreen; 
}
.time {
font-size: 10px;
}
.date {
font-size: 10px;
}


.task-actions {
display: flex;
align-items: center; /* Align buttons and checkbox */
gap: 4px; /* Add space between elements */
flex-shrink: 0; /* Prevent shrinking */
}

.edit-btn,
.delete-btn {
flex-shrink: 0; /* Prevent buttons from shrinking */
min-width: 32px; /* Optional: Ensure consistent button size */
}
.btn {
display: flex;
justify-content: center;
align-content: center;
gap: 5px;
}

.deleteBtn {
background-color: rgb(189, 54, 54);
width: 45px;
height: 18px;
cursor: pointer;
color: white;
}
.deleteBtn:hover {
background-color: rgb(202, 25, 25);

}


.cancelBtn {
background-color: rgb(162, 0, 255);
width: 45px;
height: 18px;
cursor: pointer;
color: white;
}


.cancelBtn:hover {
background-color: rgb(61, 2, 96);
}

.title {
margin-right: auto;
}



}
  
  

